.newsSection {
	width: 75%;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 1em;
	padding-left: 4em;
	padding-right: 4em;
	padding-bottom: 2em;
}


.newsSection h2 {
	
	font-size: 3rem;
	margin: auto;
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.newsContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	position: relative;
	gap: 3rem;

}

.newsContainer .newsItem {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	display: flex;
	border-radius: .5rem;
	box-shadow: 1px 1px 10px rgba(19, 136, 182, .1), -1px -1px 10px rgba(19, 136, 182, .1);
	transition: transform 200ms linear;
}

.newsContainer .newsItem:hover {
	transform: scale(1.1);
	transition: transform 200ms linear;
}

.newsItem .info {
	padding-top: 1rem;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.4rem;
	padding-bottom: 1rem;
}

.info h3 {
	text-align: center;
	width: 80%;
}


.learnMore {
	width: 70%;
	padding: 0.5rem 0.5rem;
	color: #fff;
	background: rgb(0, 90, 194);
	background: rgb(45, 107, 43);
	text-decoration: none;
	text-align: center;
	border-radius: .4rem;
	font-family: "Quantico";
	border: 0;
	font-size: 1rem;
}

.img {
	width: 100%;
	height: 70%;
	overflow: hidden;
}

.img img {
	width: 100%;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}

@media (max-width:600px) {
	.newsSection {
		padding: .5rem 1rem;
		width: 100%;
	}

	.newsSection h2 {
		width: 100%;
		padding: .4rem;
		font-size: 2rem;
	}

	.newsContainer {
		margin: auto;
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
		gap: 4rem;
	}

	.newsItem:hover {
		transform: scale(1.05);
	}

}